.custom-navbar {
    background-color: #A4DD8E; 
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.carousel-inner {
    height: 500px; /* Controls the carousel height */
}

.carousel-inner img {
    width: 100%;           
    height: 100%;          
    object-fit: cover;     
    object-position: top;  /* Focuses on the top of the image */
    display: block;        
}